PORT=3001
MONGODB_URI=mongodb+srv://admin:adminkapassword@cluster0.kgfpket.mongodb.net/
MONGODB_DB_NAME=IDPS
MONGODB_COLLECTION=live_test_dataset
CSV_PATH=
POLL_INTERVAL_MS=1000
PYTHON_CMD=python
PREDICTOR_SCRIPT=
RELOAD_CSV=false
USE_CSV_FALLBACK=true
